#grid
{
    margin-top: 75px;
}
#resultcol
{
    justify-content:space-around
}
#scoreHeader
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 150px;
    margin-top: 10px;
}